<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Evaluaciones Educativas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="contenedor">
    <div class="card">

        <h1>Evaluaciones Educativas</h1>
        <p class="subtitulo">Selecciona una evaluación</p>

        <div class="menu">
            <a class="btn-menu" href="/habilidades">Habilidades de estudio</a>
            <a class="btn-menu" href="/estilos">Estilos de aprendizaje</a>
            <a class="btn-menu" href="/autoestima">Autoestima Rosenberg</a>
        </div>

        <hr>

        <a class="link-docente" href="/docente">
            Acceso docente
        </a>

    </div>
</div>

</body>
</html>
